In [3]:
#integer
x = 2
x

2

In [2]:
x

2

In [4]:
type(x)

int

In [3]:
#float/double
y=2.5

In [4]:
y

2.5

In [7]:
type(y)

float

---

---

In [8]:
#String

In [9]:
a="Hello"
b = '23'

In [10]:
a

'Hello'

In [11]:
type(a)

str

In [12]:
type(b)

str

----

In [13]:
#Logical/Boolean

In [14]:
q1 = True

In [15]:
q1

True

In [16]:
type(q1)

bool

In [17]:
q2 = False

In [18]:
type(q2)

bool

## Typecasting numbers In Python, Type Casting is a process in which we convert a data value of one type to another.

In [5]:
#Type Cast int to float and string
#integer
n = 100

#float
f = float(n)
print(f)
print(type(f))

#string
s = str(n)
print(s)
print(type(s))

100.0
<class 'float'>
100
<class 'str'>

In [20]:
#Type Cast float to int and string
#float
f = 100.05

#integer
n = int(f)
print(n)
print(type(n))

#string
s = str(f)
print(s)
print(type(s))

100
<class 'int'>
100.05
<class 'str'>

## if you have decimal point in the string, you cannot typecast that directly to an integer. You should first typecast string to float and then that to integer.

In [21]:
##string
s = '132.65'

#typecast to integer
n = int(float(s))
#m = int(n)
print(n)
print(type(n))

#typecast to float
f = float(s)
print(f)
print(type(f))

132
<class 'int'>
132.65
<class 'float'>

## Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.A tuple is a collection which is ordered and unchangeable.Tuples are written with round brackets.

In [6]:
#Create a tuple
my_tuple = ("A", "BA", "CC")
print(my_tuple)

('A', 'BA', 'CC')

In [23]:
#Tuples allow duplicate values:
my_tuple1 = ("A", "BA", "CC","A")
print(my_tuple1)

('A', 'BA', 'CC', 'A')

In [24]:
#Print the number of items in the tuple
my_tuple1 = ("A", "BA", "CC","A")  #len is the length of a tuple,it gives the No of elements within the data structure
print(len(my_tuple1))

4

In [7]:
#One item tuple, remember the comma:
mytuple2 = ("tupple",)
print(type(mytuple2))

#NOT a tuple
tupleno = ("apple")
print(type(tupleno))

<class 'tuple'>
<class 'str'>

In [28]:
#Tuple items can be of any data type:
tuple1 = ("alice", "Jenny", "clara")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [9]:
#A tuple can contain different data types,and tuples are defined as objects with the data type 'tuple'
t1 = ("abc", 34, True, 40.5, "male")
print(type(t1))

<class 'tuple'>

In [10]:
#Accessing items of a tuple
print(t1[3])

40.5

In [12]:
print(t1[-3])

True

## 0---1---2--3= positive indices.(left to right)                  
## negetive indices start from -1--(-2)---(-3) right to left

In [32]:
#Slicing Tuples
tuple2 = (12,"Mary",45.6,'second',(3,2),'test')  #COUNTS START AT THE FIRST INDEX BUT STOPS BEFORE THE SECOND INDEX
subset = tuple2[1:4]
subset

('Mary', 45.6, 'second')

In [33]:
subset2 = tuple2[1:-1]
subset2

('Mary', 45.6, 'second', (3, 2))

## Lists: Unlike tuples,are one dimentional,mutable(changeable) and contains mixed data types.

In [1]:
list1 = ["abc", 34, True, 40, "male"]

In [2]:
list1

['abc', 34, True, 40, 'male']

In [3]:
#Using append function
list1.append("Jack")

In [37]:
list1

['abc', 34, True, 40, 'male', 'Jack']

In [38]:
#remove function
list1.remove("abc")

In [39]:
list1

[34, True, 40, 'male', 'Jack']

## Shows that lists are mutable

In [40]:
#using pop() function,Remove the second element of list1:
list1.pop(2)

40

In [41]:
#display list1
list1      #value 40 is removed

[34, True, 'male', 'Jack']

In [42]:
#Insert function---we will insert a string "madhu" in list1
list1.insert(2,"madhu")

In [43]:
list1

[34, True, 'madhu', 'male', 'Jack']

## Accessing elements of a list

In [44]:
list2 =["jack",89.5, False,77,None,'Mary']

In [45]:
list2

['jack', 89.5, False, 77, None, 'Mary']

In [47]:
#accessing elements using the positive index
list2[2]      #in case you put list2[2,3] it will become atuple and throw errors.

False

In [49]:
#Using negetive indices to access elements of a list
list2[-3]

77

In [51]:
#accessing elements of a list through indices
list2[1:4]       #it will fetch 1st,2nd and 3rd elements only.

[89.5, False, 77]

## Dictionaries map a set of keys to a set of values. Keys are immutable,while values can be of any data type. We use the curly brackets{} to create the key value pairs

In [59]:
#Viweing keys and values in a dictionary.
first_dict = {'john':'travolta','kelly':'Brook','id':[34,43]}

In [60]:
first_dict

{'john': 'travolta', 'kelly': 'Brook', 'id': [34, 43]}

In [61]:
first_dict.keys()

dict_keys(['john', 'kelly', 'id'])

In [62]:
first_dict.values()

dict_values(['travolta', 'Brook', [34, 43]])

In [63]:
#Accesing and modifying dict elements
first_dict['john']

'travolta'

In [64]:
first_dict['id']

[34, 43]

In [65]:
#updating values in the dictionary
first_dict.update({'id':[32,89]})

In [66]:
first_dict

{'john': 'travolta', 'kelly': 'Brook', 'id': [32, 89]}

In [68]:
#deleting key-value pairs
del first_dict['id']

In [69]:
first_dict

{'john': 'travolta', 'kelly': 'Brook'}

## A set is an unordered collection of unique elements.Sets are used to store multiple items in a single variable.Set items are unchangeable, but you can remove items and add new items.Sets are unordered, so you cannot be sure in which order the items will appear.Set items can appear in a different order every time you use them, and cannot be referred to by index or key.In sets,Duplicates are Not Allowed. We cannot change the items of the set but we can add or remove items.

In [70]:
#Sets are written with curly brackets.

set1 = {"abc", 34, True, 40, "male"}

In [71]:
set1

{34, 40, True, 'abc', 'male'}

In [72]:
type(set1)

set

In [73]:
#Does not allow duplicates.
set2 = {"abc",34,True,True,40,"male","male","90.7"}

In [75]:
set2 #NO SPECIFIC ORDER IS FOLLOWED BY THE ELEMENTS OF THE SET.

{34, 40, '90.7', True, 'abc', 'male'}

## Set Operations-Union(OR) and AND(Intersection) operators

In [76]:
combined_OR=set1|set2

In [77]:
combined_OR   #all elements of set1 and

{34, 40, '90.7', True, 'abc', 'male'}

In [78]:
Intersection_And = set1 & set2

In [79]:
Intersection_And  #in this case only common elements are displayed

{34, 40, True, 'abc', 'male'}

## The 'IN' Operator----Returns True if a sequence with the specified value is present in the object

In [1]:
student_names = ['Tom','Dick','Harry','sarah','Nicole']

In [3]:
'Tom' in student_names

True

In [4]:
'Harry' in student_names

True

In [5]:
word = 'sequence'

In [6]:
't' in word

False

In [7]:
'c' in word

True

## Arithmetic operators are used with numeric values to perform common mathematical operations: the plus operator produces a tuple,list or string which is a concatenation of its arguments.

In [8]:
scores1 = [67,66,50]
scores2 = [70,80,90]

In [9]:
add_scores = scores1+scores2

In [10]:
add_scores

[67, 66, 50, 70, 80, 90]

In [11]:
first_name = 'allen'
last_name = 'Parker'
full_name = first_name +" "+last_name
full_name

'allen Parker'

## The multiplication operator produces a new tuple,list or string that repeats the original content. The operator '*' does not perform actual multiplication,but just repeats the content for a specific number of times.

In [12]:
age = (12,24,36)*3
age

(12, 24, 36, 12, 24, 36, 12, 24, 36)

In [13]:
#using a list
ID = [101,202,444]*2
ID

[101, 202, 444, 101, 202, 444]

In [14]:
#USING A STRING
name = 'friend'*3
name

'friendfriendfriend'

## Functions are the primary and most important method to do organised coding and can be reused. It starts with the 'def' keyword,and the outcome of a function is obtained by the Return statement. Arguments within the parenthesis are basically the tasks assigned to the function.

### We use 'def' to create a function,and post that we give it a name.

In [16]:
#IN PYTHON A FUNCTION IS DEFINED USING 'DEF' KEYWORD
#TO CALL A FUNCTION USE THE FUNCTION NAME FOLLOWED BY A PARENTHESIS()
def add_two_numbers(num1,num2):
        return num1+num2
number1=23
number2=47.5
result = add_two_numbers(number1,number2)

In [17]:
result

70.5

In [5]:
#A parameter is the variable listed inside the parentheses in the function definition.(fname,lname)
#An argument is the value that is sent to the function when it is called.(bruce,lee)

def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Bruce", "Lee")

Bruce Lee

In [6]:
def profile():         #no parameters are mentioned
    age=21
    height=5.5
    weight=54
    return age,height    #age and weight is the outcome we want,defined by return statement
age, height = profile()  #We call the function using function name

In [7]:
print (age, height)

21 5.5

## Inbuilt Functions

### The enumerate() function takes a collection (e.g. a tuple) and returns it as an enumerate object.The enumerate() function adds a counter as the key of the enumerate object. Basically it creates an index of data so that we can create a data map

In [32]:
x = ('apple', 'banana', 'cherry')
y = enumerate(x)
print(list(y))     #We get the output as a list

[(0, 'apple'), (1, 'banana'), (2, 'cherry')]

In [33]:
# We will first start with a list of cities
city_list = ['Bangkok','Paris','Lahore','Moscow','Cairo']

In [35]:
#Now we use the enumerate function to create an index of the data,we want the index first,so we write'position'
for position,name in enumerate(city_list):
    print(position,name)

0 Bangkok
1 Paris
2 Lahore
3 Moscow
4 Cairo

In [38]:
#We create a data map now,using a dict
city_map = dict((name,position) for position,name in enumerate (city_list)) #enumerate function gives index first

In [39]:
city_map

{'Bangkok': 0, 'Paris': 1, 'Lahore': 2, 'Moscow': 3, 'Cairo': 4}

## Sort function- sorts numeric and string values

In [2]:
x = ['q', 'w', 'r', 'e', 't', 'y']
print(sorted(x))

['e', 'q', 'r', 't', 'w', 'y']

In [1]:
a = (1, 11, 2)
x = sorted(a)
print(x)

[1, 2, 11]

In [3]:
#Now sorting in the descending order
a = ("h", "b", "a", "c", "f", "d", "e", "g")
x = sorted(a, reverse=True)
print(x)

['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

## Reverse and Zip functions

In [4]:
#Reverse function is used to reverse the list of elements in a list
num_list=[5,6,7,8,9,10]
list(reversed(num_list))

[10, 9, 8, 7, 6, 5]

In [8]:
#Zip functions are used to pair elements of two lists
subjects =['maths','statistics','science','economics']
subject_num = ['one','two','three','four']
all_subjects = list(zip(subjects,subject_num))   #Changed code for python 3
all_subjects

[('maths', 'one'),
 ('statistics', 'two'),
 ('science', 'three'),
 ('economics', 'four')]