## A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [1]:
for i in range(5):
    print("Hello Python")

Hello Python
Hello Python
Hello Python
Hello Python
Hello Python

In [2]:
#1:4        1,2,3,4     -------like R
#range(5)   0,1,2,3,4   -------like python

## To loop through a set of code a specified number of times, we can use the range() function,The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [3]:
range(5)

range(0, 5)

In [4]:
#Print every element in a sequence of 6 consecutive numbers,using the range function.
for i in range(5):
    print("Hello Python : ",i)

Hello Python :  0
Hello Python :  1
Hello Python :  2
Hello Python :  3
Hello Python :  4

---

In [5]:
#Another way
mylist=[10,100,1000]

In [6]:
mylist

[10, 100, 1000]

In [7]:
for j in mylist:
    print("j is equal to: ",j)

j is equal to:  10
j is equal to:  100
j is equal to:  1000

In [8]:
list(range(5))

[0, 1, 2, 3, 4]

In [9]:
#looping through all elements of a string value:
for i in "simplilearn":
    print (i)

s
i
m
p
l
i
l
e
a
r
n

In [10]:
#using the BREAK terminating statement-
#With the break statement we can stop the loop before it has looped through all the items:
subjects = ["History", "Geography", "chemistry","Mathematics","Economics"]
for i in subjects:
  print(i)
  if i == "Mathematics":
    break

History
Geography
chemistry
Mathematics

In [11]:
#With the continue statement we can stop the current iteration of the loop, and continue with the next
subjects = ["History", "Geography", "chemistry","Mathematics","Economics"]
for i in subjects:
    if i == "Mathematics":
        continue
    print(i)

History
Geography
chemistry
Economics

In [14]:
#what happens if the break statement comes before the print statement?
subjects = ["History", "Geography", "chemistry","Mathematics","Economics"]
for i in subjects:
  if i == "Mathematics":
    break
print(i)

Mathematics

In [15]:
subjects = ["History", "Geography", "chemistry","Mathematics","Economics"]
for i in subjects:
  if i == "Mathematics":
    break
    print(i)

In [16]:
#The else keyword in a for loop specifies a block of code to be executed when the loop is finished
#we will print all the numbers from 0 to 7 and finally print a message when the loop exits with the else statement.

for x in range(8):
    print(x)
else:
    print("Loop Exit")

0
1
2
3
4
5
6
7
Loop Exit

In [17]:
#Now break this loop when x=5 and use the else keyword to print the same message.
for x in range(8):
    if x == 5: break
    print(x)
else:
    print("done")

0
1
2
3
4